<!-- 
Git ignore Kullanımı : .gitignore dosyası projemizin kök dizinine oluşturulan düz bir metin dosyasıdır. Göz ardı edilmek istenilen, local çalışma alanında takip edilmesini istemediğimiz, takım arkadaşları için gerekmeyen dosyaların repoya gitmesini engellemek için kullanılır.

https://github.com/github/gitignore/tree/main/Global sayfasından IDE’ler için ignore yapıları incelenebilir. VsCode içinde [.gitignore] dosyası oluşturulur. Örnek içerik aşağıda yer almaktadır.
-->


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
# Local History for Visual Studio Code
.history/
# Built Visual Studio Code Extensions
*.vsix
# images
img/
*.jpeg
*.jpg
*.gif
*.png
# videos
*.mp4
# log
*.log
Password.txt
